@use "Mixins";
@media (min-width: 1024px){

  div.not-supported {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;

  }


}

@media (max-width: 760px) {
  div.not-supported {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;

  }


}